/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 nov. 2016, 09:51:06
    Author     : Dominique
*/
@import "compass";

$navHeight : 50px;
$default-transition-property : all;
$default-transition-duration : 1s;
$default-transition-function : false;
$default-transition-delay    : false;
$backgroundColor : rgba(72, 61, 139, 0.3);

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
header
{
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: white;
}
.social-info
{
    font-size: 1em;
    color: #333333;
    a 
    {
        color: #333333;
    }
}

nav
{
    @include transition-duration($default-transition-duration);

    z-index: 10;
    width: 100%;
    border-bottom: 20px solid #e44d26; 
    min-height: $navHeight;

    float: left;
    display: inline-block;
    font-size: 1em;
    text-align: center;
    &.active
    {
        font-size: 3em;
    }
    ul 
    {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li 
    {
        display: inline-block;
        vertical-align: middle;
    }
    a 
    {
        display: block;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        color: #333333;
        background: #ffffff;
        &:hover
            {
            color: black;
            text-decoration: underline;
        }
    }
}

#logo_container
{

    img
    {
        @include transition-duration($default-transition-duration);
        @include transition-property(height);
        height: 90px;
    }
    &.active img
    {
        height: 300px;
    }
}


.main-content
{
    // position:absolute;
    //  top:230px;
}

.background
{
    position: relative;
    height: 100%;
    z-index: 4;
    background-color:$backgroundColor ;
}
.infos_services
{
    top:500px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border: transparent;
    background-color: $backgroundColor;
    overflow: hidden; 
    margin: 0 35%;
    text-align: center;
}

.service-title
{
    color: white;  
    font-weight: 600;
    font-size: 4em;
}

.service-list
{
    font-size: 1.2em;
    height:100%;
}

#Contact
{
    color: black;
    padding-bottom: 40px;
}

.contact-header 
{
    text-align: center;
    vertical-align: middle;
    line-height: 200px; 

    /* The image used */
    background-image: url("../img/contacts-bg.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-title
{
    color: black;  
    font-weight: 600;
    font-size: 4em;
    line-height: 200px; 
    background: rgba(229, 180, 255, 0.37);
}

#Contact
{
    label
    {
        font-size: 1.2em;    
        margin-top: 2em;
        margin-bottom: 0.5em;
        color: #999999;
    }
}

#ContactForm
{
    margin: 20px;
    padding: 20px;
}

#FormResultMessages
{
    margin-top: 25px ;
    margin-bottom:  0;
}

input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}

@mixin font-smoothing($value: antialiased) {
    @if $value == antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

button {
    float: left;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    @include font-smoothing();
    font-weight: bold;
    margin: 0;
    text-align: center;
    width:90px;
}

button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}