/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 févr. 2017, 22:14:48
    Author     : Dominique
*/
@import "compass";

$default-transition-property : all;
$default-transition-duration : 3s;
$quick-transition-duration : 3s;
$default-transition-function : false;
$default-transition-delay    : false;

$darkColor : rgba(35, 31, 32, 1);
$blueColor : #6bc8e6;

html, 
body 
{
    color: $darkColor;
    font-size: 1em;
    line-height: 1.4;
    background:  white;
    height: 100%;
    margin: 0;
    font-family: "Roboto";
}

#preloader {
    /*opacity: 0.5;*/
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 32, 1);;
    //change if the mask should have another color then white 
    z-index: 100;
    opacity:1;
    display: flex;
    justify-content: center;
    // makes sure it stays on top 
    #DropDown
    {
        opacity: 0;
        border: solid #6bc8e6 2px;
        width: 3px;
        margin: auto;
        height: 0;
    }
    #Circle
    {
        position: absolute;
        width: 100px;
        margin: auto;
        align-self: center;
    }
    #circle-canvas
    {
        display: block;
        margin: inherit;
    }
}

h4
{
    font-family: "Roboto";
}

h5
{
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
#Logo
{
    cursor: pointer;
}


#MenuWrapper
{
    position:fixed; 
    width: 100%; 
    z-index: 0;
    opacity: 0;
}

#Menu
{
    display:none;
}

#Eraser
{
    width: 250px;
    height: 100%;
    z-index: 200;
    background-color: rgba(0,0,0,0);
    display: block;
    position: absolute;
    right: 0px;
}

#SideBar
{
    position: fixed;
    width: 310px;
    //display: flex;
    //justify-content: center;
    margin-top: 15vmin;
    min-height:100vh;

    #SideBarContainer
    {
        align-self: center;
    }
    #WrapperLogo
    {
        position: absolute;
    }

    #LogoInfos
    {
        margin-top: -20%;
        #Logo
        {
            padding: 10px 20px;
        }
    }

    .sidebarContent
    {
        position: relative;
        padding: 1.1vh 0;
    }


    #construction
    {
        text-align: center;
        color: $blueColor;
    }

    ul
    {
        list-style-type: none;
        text-align: center;
        font-size: 1.3em;
        margin: 0;
    }

    #ShowReelButtonContainer
    {
        width: 150px;
        padding-top: 0.6vh;
        margin: auto;
    }
}

#MainContent
{
    opacity: 0;
    display: flex;
    margin-left: 260px;
}

#Navigation
{
    height: 120px;
    margin-left: 0; 
    display: flex;
    justify-content: center;    
}

#NavigationContent
{
    width: 100%;
    align-self: flex-end;
    a {
        color: $blueColor;
        text-decoration: none;
        line-height: inherit;
        cursor: pointer;
        &:hover, &:focus {
            color: darken($blueColor, 25);// #4f92a8;
        }
    }
    #Path
    {
        transform: translateY(50%);
    }

}
.links
{
    cursor: pointer;    
}

.underlinks
{
    font-size: 0.8em !important;
    text-align: justify !important;
}

.socialIcons
{
    text-align: right;
}

.active
{
    text-decoration: underline;
}


#ShowReelPlayer {
    margin: 0 auto;
    position: relative;
    width: 70%;
    max-height: 450px;
    display: block;
}

#myElement
{
    margin: 40px auto !important;
}

@media only screen 
and (max-width: 470px) 
{

    #Navigation
    {
        height: 150px;
    }
}

@media only screen 
and (max-width: 850px) 
{
    #SideBar
    {
        display: none;
    }
    #MainContent
    {
        margin-left: 0;
    }
    #Menu
    {
        display : block;
        color:white;
    }
}