
<nav id="Menu" class="nav-collapse">
    <ul >
        <li>
            <div class="links home" onclick="goTo('', event)">Home</div>
        </li>
        <li>
            <div class="links" onclick="goTo('#About', event)">Présentation</div>
        </li>
        <li>
            <div class="links" onclick="goTo('#Trust', event)">Nos Clients</div>
        </li>
        <li>
            <div class="links" onclick="goTo('#Contact', event)">Contact</div>
        </li>
         <li>
            <div class="links" onclick="goTo('About/', event)" id="AboutTopMenu">Qui sommes nous?</div>
        </li>
        <li>
            <div class="links active" onclick="goTo('Projects/', event)" id="ProjectsMenu">Projets</div>  
            <ul class='underlinks nav'>
                <li class="links" onclick="goTo('Incarna/', event)">Incarna</li>
                <li class="links" onclick="goTo('Projects/CottonClub/', event)">CNIT</li>
                <li class="links" onclick="goTo('Projects/CNIT/', event)">CNIT</li>
                <li class="links" onclick="goTo('Projects/Cuisine360/', event)">Cuisine360</li>
                <li class="links" onclick="goTo('Projects/DTWorkshop/', event)">DTWorkshop</li>
                <li class="links" onclick="goTo('Projects/SSL/', event)">Sport&nbsp;Saber&nbsp;League</li>
                <li class="links" onclick="goTo('Projects/PIPAME/', event)">PIPAME</li>
                <li class="links" onclick="goTo('Projects/Kourandero/', event)">Kourandero</li>
                <li class="links" onclick="goTo('Projects/Piticrock/', event)">Piticrock</li>
                <li class="links" onclick="goTo('Projects/ScienceAccueil/', event)">Science&nbsp;Accueil</li>
                <li class="links" onclick="goTo('Projects/Wolfpack/', event)">Wolfpack</li>
                <li class="links" onclick="goTo('Projects/TreizeNovembre/', event)">Video&nbsp;Clip</li>
                <li class="links" onclick="goTo('Projects/ElleFume/', event)"> Elle&nbsp;fume </li>
                <li class="links" onclick="goTo('Projects/Enedis/', event)">Enedis</li>
            </ul>
        </li>
<!--        <li>
            <div class="links" onclick="goTo('../../Portfolio')">Portfolio</div>
        </li>-->

        <li>
            <div class="links" onclick="goTo('Blog/', event)">Blog</div>  
        </li>
    </ul>
</nav>