<div id="NavigationContent">
    <div id="Path" class="small-6 columns"><a  onclick="goTo('', event)">Light In Chaos </a>/ <a  onclick="goTo('Projects', event)">Projets</a> / <div id="ProjectID" style="display: inline-block">ProjetName</div> </div>
    <div id="WrapperSocialInfos" class="small-6 columns"> 
        <div class="socialNetwork">
            <ul class="socialIcons">
                <li class="socialIcon">
                    <a href="http://facebook.com/Light-In-Chaos-584085058415541/" class="facebook">
                        <span>a</span>
                    </a>
                </li>
                <li class="socialIcon">
                    <a href="https://twitter.com/light_in_chaos" class="twitter">
                        <span>a</span>
                    </a>
                </li>
                <li class="socialIcon">
                    <a href="https://vimeo.com/lightinchaos" class="vimeo">
                        <span>a</span>
                    </a>
                </li>
                <li class="socialIcon">
                    <a href="https://www.linkedin.com/company/light-in-chaos" class="linkedIn">
                        <span>a</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>