<div id="SideBarContainer" class="small-8 small-centered">
    <div class="sidebarContent" id="LogoInfos" >
        <div class="WrapperLogo">
            <div class="sidebarContent" id="LogoContainer" >
                <a > <img src="../../img/Logo_LIC.png" alt="Light In Chaos" id="Logo" onclick="goTo('', event)"></a>
            </div>
        </div>

        <ul class="sidebarContent"  id="links">
            <li>
                <a href="../../">
                    <div class="links home" onclick="goTo('', event)">Home</div>
                </a>
            </li>
            <li>
                <a href="../../">
                    <div class="links" onclick="goTo('#About', event)">Présentation</div>
                </a>
            </li>
            <li>
                <a href="../../">
                    <div class="links" onclick="goTo('#Contact', event)">Contact</div>
                </a>
            </li>
            <li>
                <a href="../../">
                    <div class="links" onclick="goTo('#Trust', event)">Nos Clients</div>
                </a>
            </li>
            <li>
                <a href="../../About" id="hrefabout">
                    <div class="links" onclick="goTo('About/', event)" id="AboutSideMenu">Qui sommes nous?</div>
                </a>
            </li>
            <li>
                <a href="../Projects">  
                    <div class="links" onclick="goTo('Projects/', event)" id="Projects">Projets</div> 
                </a>
                <div class="chevronDown">
                    <ul class='underlinks'>
                        <li class="links" id="Incarna" onclick="goTo('Projects/Incarna/', event)"> <a href="../Incarna/"> Incarna </a></li>
                        <li class="links" id="CNIT" onclick="goTo('Projects/CNIT/', event)"> <a href="../CNIT/"> CNIT</a></li>
                        <li class="links" id="CottonClub" onclick="goTo('Projects/CottonClub/', event)"> <a href="../CottonClub/"> CottonClub</a></li>
                        <li class="links" id="Cuisine360" onclick="goTo('Projects/Cuisine360/', event)"><a href="../Cuisine360/"> Cuisine360 </a></li>
                        <li class="links" id="DTWorkshop" onclick="goTo('Projects/DTWorkshop/', event)"><a href="../DTWorkshop/"> DTWorkshop </a></li>
                        <li class="links" id="SSL" onclick="goTo('Projects/SSL/', event)"><a href="../SSL/"> Sport&nbsp;Saber&nbsp;League </a></li>
                        <li class="links" id="PIPAME" onclick="goTo('Projects/PIPAME/', event)"><a href="../PIPAME/"> PIPAME </a></li>
                        <li class="links" id="Kourandero" onclick="goTo('Projects/Kourandero/', event)"><a href="../Kourandero/"> Kourandero </a></li>
                        <li class="links" id="Piticrock" onclick="goTo('Projects/Piticrock/', event)"><a href="../Piticrock/"> Piticrock </a></li>
                        <li class="links" id="ScienceAccueil" onclick="goTo('Projects/ScienceAccueil/', event)"><a href="../ScienceAccueil/"> Science&nbsp;Accueil </a></li>
                        <li class="links" id="Wolfpack" onclick="goTo('Projects/Wolfpack/', event)"><a href="../Wolfpack/"> Wolfpack </a></li>
                        <li class="links" id="TreizeNovembre" onclick="goTo('Projects/TreizeNovembre/', event)"><a href="../TreizeNovembre"> 13&nbsp;Novembre </a></li>
                        <li class="links" id="Enedis" onclick="goTo('Projects/Enedis/', event)"><a href="../Enedis/"> Enedis </a></li>
                        <li class="links" id="ElleFume" onclick="goTo('Projects/ElleFume/', event)"><a href="../ElleFume"> Elle&nbsp;fume </a></li>
                    </ul>
                </div>

            </li>
            <!--            <li>
                            <div class="links" onclick="goTo('../../Portfolio')">Portfolio</div>
                        </li>-->
            <li>
                <a href="../../Blog" id="hrefabout">
                    <div class="links" onclick="goTo('Blog/', event)">Blog</div>  
                </a>
            </li>
        </ul>
    </div>
</div> 