@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 f├®vr. 2017, 22:14:48
    Author     : Dominique
*/
html,
body {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  background: #231f20;
  height: 100%;
  margin: 0;
  font-family: "Roboto"; }

#preloader {
  /*opacity: 0.5;*/
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #231f20;
  z-index: 100;
  opacity: 1;
  display: flex;
  justify-content: center; }
  #preloader #DropDown {
    opacity: 0;
    border: solid #6bc8e6 2px;
    width: 3px;
    margin: auto;
    height: 0; }
  #preloader #Circle {
    position: absolute;
    width: 100px;
    margin: auto;
    align-self: center; }
  #preloader #circle-canvas {
    display: block;
    margin: inherit; }

h4 {
  font-family: "Roboto"; }

h5 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center; }

#Logo {
  cursor: pointer; }

#MenuWrapper {
  position: fixed;
  width: 100%;
  z-index: 0;
  opacity: 0; }

#Menu {
  display: none; }

#Eraser {
  width: 250px;
  height: 100%;
  z-index: 200;
  background-color: transparent;
  display: block;
  position: absolute;
  right: 0px; }

#SideBar {
  position: fixed;
  width: 310px;
  margin-top: 15vmin;
  min-height: 100vh; }
  #SideBar #SideBarContainer {
    align-self: center; }
  #SideBar #WrapperLogo {
    position: absolute; }
  #SideBar #LogoInfos {
    margin-top: -20%; }
    #SideBar #LogoInfos #Logo {
      padding: 10px 20px; }
  #SideBar .sidebarContent {
    position: relative;
    padding: 1.1vh 0; }
  #SideBar #construction {
    text-align: center;
    color: #6bc8e6; }
  #SideBar ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.3em;
    margin: 0; }
  #SideBar #ShowReelButtonContainer {
    width: 150px;
    padding-top: 0.6vh;
    margin: auto; }

#MainContent {
  opacity: 0;
  display: flex;
  margin-left: 260px; }

#Navigation {
  height: 150px;
  margin-left: 0;
  display: flex;
  justify-content: center; }

#NavigationContent {
  width: 100%;
  align-self: flex-end; }
  #NavigationContent a {
    color: #6bc8e6;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer; }
    #NavigationContent a:hover, #NavigationContent a:focus {
      color: #1e8fb3; }
  #NavigationContent #Path {
    transform: translateY(50%); }

.links {
  cursor: pointer; }

.socialIcons {
  text-align: right; }

.active {
  text-decoration: underline; }

.project {
  height: 400px;
  background-color: beige;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.projectRow {
  margin-left: 0 !important; }
  .projectRow a {
    color: white; }

#Incarna {
  background: url(../Projects/Incarna/Cover.png) no-repeat;
  background-size: cover; }

#CNIT {
  background: url(../Projects/CNIT/Cover.png) no-repeat;
  background-size: cover; }

#SSL {
  background: url(../Projects/SSL/Cover.png) no-repeat;
  background-size: cover; }

#DTWorkshop {
  background: url(../Projects/DTWorkshop/Cover.png) no-repeat;
  background-size: cover; }

#Piticrock {
  background: url(../Projects/Piticrock/Cover.png) no-repeat;
  background-size: cover; }

#Enedis {
  background: url(../Projects/Enedis/Cover.png) no-repeat;
  background-size: cover; }

#Kourandero {
  background: url(../Projects/Kourandero/Cover.png) no-repeat;
  background-size: cover; }

#Cuisine360 {
  background: url(../Projects/Cuisine360/Cover.png) no-repeat;
  background-size: cover; }

.projectContent {
  height: 400px;
  background-color: rgba(30, 143, 179, 0.5);
  padding: 10px;
  position: relative;
  bottom: -85%;
  transition: all 0.5s ease; }
  .projectContent h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em; }
  .project:hover .projectContent {
    background-color: rgba(30, 143, 179, 0.9);
    bottom: -15%; }

.projectInfos {
  margin-top: -50px; }

.mobileAccessInfos {
  content: '';
  display: block;
  position: relative;
  top: 25px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #22a0c9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #97d8ed; }
  .mobileAccessInfos:active {
    background-color: #3fb8df; }

.chevronUp,
.chevronDown {
  position: relative;
  display: block;
  height: 50px;
  /*height should be double border*/ }

.chevronUp:before,
.chevronDown:before,
.chevronUp:after,
.chevronDown:after {
  position: absolute;
  display: block;
  content: "";
  border: 15px solid transparent;
  /*adjust size*/ }

/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.chevronUp:before {
  top: -4px;
  left: 8px;
  border-bottom-color: #97d8ed; }

.chevronUp:after {
  top: 3px;
  left: 8px;
  border-bottom-color: #22a0c9; }

.chevronDown:before {
  top: 16px;
  left: 8px;
  border-top-color: #97d8ed; }

.chevronDown:after {
  top: 9px;
  left: 8px;
  border-top-color: #22a0c9; }

@media only screen and (max-width: 850px) {
  #SideBar {
    display: none; }

  #MainContent {
    margin-left: 0; }

  #Menu {
    z-index: 0;
    display: block;
    opacity: 0; } }

/*# sourceMappingURL=projects.css.map */
